{% extends 'app1/base.html' %}

{% block title_block %}
    {% if article %}{{ article.title }}{% elif current_menu2 %}{{ current_menu2.name }}{% elif current_menu1 %}{{ current_menu1.name }}{% elif company %}{{ company.name }}{% else %}文章列表{% endif %}
{% endblock %}

{% block body_block %}
    <div class="row">
        {% if current_menu2_brother %}  <!--有子菜单-->
            <div class="col-sm-3">
                <ul class="nav nav-pills nav-stacked" style="border-left: 1px solid #efefef;border-right: 1px solid #efefef;">
                    {% for menu in current_menu2_brother %}
                        <li {% if current_menu2 %}{% if current_menu2.id|urlencode:'' == menu.id|urlencode:'' %}class="active"{% endif %}{% endif %}>
                            <a style="padding-left: 50px;" href="{% url 'category' menu.menu_name %}">{{menu.name}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-9">
                {% if articles %}  <!--多篇文章-->
                    {% for article in articles %}
                        <a href="{% url 'article' article.id %}">
                            {% include 'app1/article_list_item.html' %}
                        </a>
                    {% endfor %}
                {% elif article %}   <!--单篇文章-->
                    {% include 'app1/article_detail.html' %}
                {% else %}   <!--没有文章-->
                    <p class="text-center" style="margin-top: 30px;">暂无文章</p>
                {% endif %}
            </div>
        {% else %}  <!--无子菜单-->
            {% if articles %}   <!--多篇文章-->
                <div class="col-sm-3">
                    {% for article in articles %}
                        <a href="{% url 'article' article.id %}">
                            {% include 'app1/little_article_list_item.html' %}
                        </a>
                    {% endfor %}
                </div>
                <div class="col-sm-9">
                    {% include 'app1/article_detail.html' %}
                </div>
            {% else %}
                {% if article %}   <!--单篇文章-->
                    {% include 'app1/article_detail.html' %}
                {% else %}   <!--没有文章-->
                    <p class="text-center" style="margin-top: 30px;">暂无文章</p>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}