<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title_block %}{% endblock %}</title>

    <link rel="icon" href="{% if company.logo %}{{ company.logo.url }}{% else %}/static/images/default/default_favicon.png{% endif %}">
    <meta name="keywords" content="{% if company.name %}{{ company.name }}{% else %}公司首页{% endif %}" />

    <link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
    {#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">#}
    <link href="/static/css/style.css" rel='stylesheet' type='text/css' />
    <link href="/static/css/font-awesome.css" rel="stylesheet">

    <script src="/static/js/jquery-1.11.1.min.js"> </script>
    {#    <script src="/static/js/bootstrap.js"></script>#}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    {% block css_block %}{% endblock %}
</head>
<body>


<div style="width: 65px; height: 90px;right: 8px;top:310px;position: fixed;z-index: 100000;" onclick="show_message()">
    <img title="点击留言" src="/static/images/message.png" style="width: 100%; height: 100%;" onmouseover="this.src='/static/images/message_over.png'" onmouseout="this.src='/static/images/message.png'"/>
</div>

<div style="width: 300px; height: 450px;right:80px;top: 150px;position:fixed;z-index: 100000" id="message_box" hidden>
    <div class="panel panel-primary" style="width: 100%;">
        <div class="panel-heading" style="height: 50px;">
            <h3 style="display: block; float: left;">欢迎留言</h3>
            <button style="float: right;color: white;font-weight: bold;" class="btn btn-primary" onclick="show_message()">—</button>
        </div>
        <div class="panel-body">
            <form id="message_form">
                <textarea placeholder="请写下您的留言，我们会尽快与您联系。（必填）" class="form-control" name="content" required></textarea><br>
                <input class="form-control" type="text" placeholder="姓名"  name="name"/><br>
                <input class="form-control" type="text" placeholder="电话（必填）"  name="phone" required/><br>
                <input class="form-control" type="text" placeholder="邮箱"  name="email"/><br>
                <input class="form-control" type="text" placeholder="地址"  name="address"/><br>
            </form>
            <button class="btn btn-primary form-control" onclick="submit_message()">发送</button>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-xs-8">
                <img src="/static/images/title.png" style="width:86%;margin: 16px 0 16px;">
            </div>
            <div class="col-xs-4">
                <div style="float:right;margin: 16px 15px 16px;">
                    <p style="color: green;font-weight: bold;font-size: 24px;"><span class="glyphicon glyphicon-earphone"></span>{{company.telephone}}</p>
                </div>
                <form action="{% url 'search' %}" method="post">
                    {% csrf_token %}

                    <div class="form-group" style="float:right;">
                        <div class="col-xs-9" style="margin: 0;padding: 0;">
                            <input style="border-radius: 0;" class="form-control" type="text" name="keyword" placeholder="站内搜索" required="" value="{{ request.session.keyword }}"/>
                        </div>
                        <div class="col-xs-3" style="margin: 0;padding: 0;">
                            <button style="border-radius: 0;" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true" style="color: green;"></span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
        <nav class="navbar navbar-inverse">
            {#            <div class="container-fluid">#}
            <ul class="nav nav-justified">
                <li {% if menu_homepage %}class="active"{% endif %}><a class="nav_a" href="{% url 'homepage' %}">首页</a></li>
                {% for menu1 in menu1s %}
                    <li class="{% if menu1.has_children %}dropdown{% endif %} {% if menu1.id|urlencode:'' == current_menu1.id|urlencode:'' %}active{% endif %}">
                        {% if menu1.has_children %}
                            <a href="#" class="nav_a dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ menu1.name }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for menu2 in menu1.has_children %}
                                    <li><a class="nav_dropdown_a" href="{% url 'category' menu2.menu_name %}">{{menu2.name}}</a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <a  class="nav_a" href="{% url 'category' menu1.menu_name %}">{{ menu1.name }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {#            </div>#}
        </nav>
    </div>
</div>
{% if not menu_homepage %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" style="height: 150px;">
            <div class="long_img" style="background: url('/static/images/long_img.jpg')"></div>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">{% block big_img %}{% endblock %}</div>
</div>

<br>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
        {% block body_block %}{% endblock %}
    </div>
</div>


<br>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" style="height: 260px;">
        <div style=" background-color: green;padding: 50px 50px 30px;color: white;">
            <div class="row">
                <div class="col-xs-6">
                    <h3>{{ company.name }}</h3><br>
                    <p>公司理念：{{ company.slogan }}</p>
                    <p style="margin-top: 3px;">公司地址：{{ company.address }}</p>
                    <br>
                    <p>&copy; 2020 520hye.com</p>
                    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44190002004903" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                        <img src="/static/images/default/备案图标.png" style="float:left;height: 20px;"/><span class="white_text">粤公网安备 44190002004903号</span>
                    </a>
                    <a href="http://www.beian.gov.cn/portal/registerSystemInfo" target="_blank">
                        <span class="white_text">{{company.icp}}</span>
                    </a>
                </div>

                <div class="col-xs-4">
                    <h4 style="margin: 50px 0 6px;">联系我们</h4>
                    {% if company.qq %}<p style="margin-bottom: 3px;">客服QQ ：{{ company.qq }}</p>{% endif %}
                    {% if company.wechat %}<p style="margin-bottom: 3px;">客服微信：{{company.wechat}}</p>{% endif %}
                    {% if company.telephone %}<p style="margin-bottom: 3px;">咨询热线：{{ company.telephone }}</p>{% endif %}
                    {% if company.phone %}<p style="margin-bottom: 3px;">联系手机：{{company.phone}}</p>{% endif %}
                    {% if company.email %}<p style="margin-bottom: 3px;">公司邮箱：{{company.email}}</p>{% endif %}
                </div>
                <div class="col-xs-2 text-center" style="float:right;">
                    <img src="{{wechat.qrcode.url}}" style="height: 120px; width:120px;"{% if wechat.logo %} onmouseover="this.src='{{ wechat.logo.url }}'" onmouseout="this.src='{{ wechat.qrcode.url}}'" {% endif %}/>
                    <p style="margin-top: 8px;">{{wechat.name}}</p>
                    <p>扫码关注我们</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('li.dropdown').mouseover(function () {
            $(this).addClass('open');
        }).mouseout(function () {
            $(this).removeClass('open');
        });
    });

    function show_message(){
        if($('#message_box').is(':hidden')){//如果当前隐藏
            $('#message_box').show();//那么就显示div
        }else{//否则
            $('#message_box').hide();//就隐藏div
        }
    }

    function submit_message(){
        $.ajax({
            type:'POST',
            url:{% url 'submit_message' %},
            data:$('#message_form').serialize(),
            dataType:'JSON',
            headers:{'X-CSRFToken':'{{ csrf_token }}'},
            error:function(request){
                console.log("出错?", request);
                alert('操作失败，请重试一下哈');
            },
            success:function(data){
                alert(data.message);
                show_message();
            }
        });
    }
</script>
</body>
</html>