<div class="footer">
    <div class="container">
        <div class="footer-agileinfo">
            {% if wechat.qrcode %}
                <div class="col-md-4 footer-right text-center f-address">
                    <img src="{{wechat.qrcode.url}}" style="height: 160px; width:160px;"{% if wechat.logo %} onmouseover="this.src='{{ wechat.logo.url }}'" onmouseout="this.src='{{ wechat.qrcode.url}}'" {% endif %}/>
                    <p class="white_text" style="margin-top: 8px;">{{wechat.name}}</p>
                    <p class="white_text" style="margin-top: 8px;">微信扫一扫，关注我们的微信公众号</p>
                </div>
                <div class="col-md-3 footer-right f-address">
                    <h4 class="white_text">联系我们</h4>
                    {% if company.telephone %}<p class="number">联系固话：{{company.telephone}}</p>{% endif %}
                    {% if company.phone %}<p class="number">联系手机：{{company.phone}}</p>{% endif %}
                    {% if company.qq %}<p class="number">客服QQ：{{company.qq}}</p>{% endif %}
                    {% if company.wechat %}<p class="number">客服微信：{{company.wechat}}</p>{% endif %}
                    {% if company.email %}<p class="number">邮箱：{{company.email}}</p>{% endif %}
                </div>
                <div class="col-md-5 footer-left f-address">
                    <h4 class="white_text">{{ company.name }}</h4>
                    <p class="text">公司理念：{{company.slogan}}</p>
                    <p class="text">公司地址：{{ company.address }}</p>
                    <div class="copyright">
                        <p>Copyright &copy; 2020-{{year}} {% if company.domain_name %}{{ company.domain_name }}{% else %}{{company.name}}{% endif %} 版权所有</p>
                        {% if company.icp %}
                            <div>
                                <a href="http://idinfo.zjamr.zj.gov.cn/bscx.do?method=lzxx&amp;id=3301963301080000025024" target="_blank">
                                    <img src="//gw.alicdn.com/tfs/TB1GxwdSXXXXXa.aXXXXXXXXXXX-65-70.gif" style="height: 20px;">
                                </a>
                                <a href="http://www.beian.gov.cn/portal/registerSystemInfo" target="_blank">
                                    <img src="//img.alicdn.com/tfs/TB1..50QpXXXXX7XpXXXXXXXXXX-40-40.png" style="height: 20px;">
                                    <span>{{company.icp}}</span>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="col-md-6 footer-right f-address">
                    <h4 class="white_text">联系我们</h4>
                    {% if company.telephone %}<p class="number">联系固话：{{company.telephone}}</p>{% endif %}
                    {% if company.phone %}<p class="number">联系手机：{{company.phone}}</p>{% endif %}
                    {% if company.qq %}<p class="number">客服QQ：{{company.qq}}</p>{% endif %}
                    {% if company.wechat %}<p class="number">客服微信：{{company.wechat}}</p>{% endif %}
                    {% if company.email %}<p class="number">邮箱：{{company.email}}</p>{% endif %}
                </div>
                <div class="col-md-6 footer-left f-address">
                    <h4 class="white_text">{{ company.name }}</h4>
                    <p class="text">{{company.slogan}}</p>
                    <div class="copyright">
                        <p>Copyright &copy; 2020-{{year}} {% if company.domain_name %}{{ company.domain_name }}{% else %}{{company.name}}{% endif %} 版权所有</p>
                        {% if company.icp %}
                            <div>
                                <a href="http://idinfo.zjamr.zj.gov.cn/bscx.do?method=lzxx&amp;id=3301963301080000025024" target="_blank">
                                    <img src="//gw.alicdn.com/tfs/TB1GxwdSXXXXXa.aXXXXXXXXXXX-65-70.gif" style="height: 20px;">
                                </a>
                                <a href="http://www.beian.gov.cn/portal/registerSystemInfo" target="_blank">
                                    <img src="//img.alicdn.com/tfs/TB1..50QpXXXXX7XpXXXXXXXXXX-40-40.png" style="height: 20px;">
                                    <span>{{company.icp}}</span>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>