{% extends 'app1/base.html' %}

{% block title_block %}
    {% if company.name %}{{ company.name }}{% else %}公司首页{% endif %}
{% endblock %}

{% block body_block %}
    <div class="row">
        <div class="col-xs-7">
            <div class="panel panel-default" style="height: 270px;">
                <div class="panel-heading">最新动态</div>
                <div class="list-group">
                    {% for news in new_news5 %}
                        <button class="list-group-item" style="width: 100%; text-align: left;margin-bottom: 4px;border:0 solid #fff;border-bottom: 1px solid #efefef;"><a href="{% url 'article' news.id %}">{{news.title|slice:":20"}}…<span style="float: right;">[{{news.modified_time}}]</span></a></button>
                    {% empty %}
                        <button class="list-group-item" style="width: 100%; text-align: left">还没有动态<span style="float: right;">[20xx-xx-xx]</span></button>
                    {% endfor%}
                </div>
            </div>
        </div>
        <div class="col-xs-5">
            <div id="myCarousel" class="carousel slide"  data-ride="carousel" data-interval="2000">
                <!-- 默认轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    {% for carousel in carousels %}
                        <li data-target="#myCarousel" data-slide-to="{{ carousel.number }}" {% if forloop.first %}class="active"{% endif %}></li>
                    {% empty %}
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarouse1" data-slide-to="1"></li>
                    {% endfor %}
                </ol>

                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                    {% for carousel in carousels %}
                        <div {% if forloop.first %} class="item active"{% else %} class="item"{% endif %}>
                            <a href="{% url 'article' carousel.article.id %}">
                                <img src="{{carousel.img.url}}" style="width:100%;"/>
                                <div class="carousel-caption">{{carousel.title}}</div>
                            </a>
                        </div>
                    {% empty %}
                        <div class="item active">
                            <img src="/static/images/s/s1.jpg" style="width:100%;"/>
                            <div class="carousel-caption">轮播图标题说明</div>
                        </div>
                        <div class="item">
                            <img src="/static/images/s/s2.jpg" style="width:100%;"/>
                            <div class="carousel-caption">轮播图标题说明</div>
                        </div>
                    {% endfor %}
                </div>

                <!-- 轮播（Carousel）导航 -->
                <a class="carousel-control left" href="#myCarousel"
                   data-slide="prev"> <span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="carousel-control right" href="#myCarousel"
                   data-slide="next"> <span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
    <!--业务导航-->
    <div class="row">
        <div class="col-xs-12">
            <div class="row yewu">
                <div class="col-xs-1" style="height: 100%">
                    <img src="/static/images/yewu/yewu.png" style="height: 100%;">
                </div>
                <div class="col-xs-11" style="height: 100%">
                    <div class="col-xs-3" style="height: 100%;">
                        <div class="img_text" style="background: url('/static/images/yewu/yewu11.png');">
                            <a href="{% url 'category' 'water_ecological_restoration' %}">水生态修复</a>
                        </div>
                    </div>
                    <div class="col-xs-3" style="height: 100%;">
                        <div class="img_text" style="background: url('/static/images/yewu/yewu21.png');">
                            <a href="{% url 'category' 'black_water_treatment' %}">臭黑水治理</a>
                        </div>
                    </div>
                    <div class="col-xs-3" style="height: 100%;">
                        <div class="img_text" style="background: url('/static/images/yewu/yewu31.png');">
                            <a href="{% url 'category' 'habitat_restoration' %}">栖息地修复</a>
                        </div>
                    </div>
                    <div class="col-xs-3" style="height: 100%;">
                        <div class="img_text" style="background: url('/static/images/yewu/yewu41.png');">
                            <a href="{% url 'category' 'water_ecological_maintenance' %}">河湖生态运营维护</a>
                        </div>
                    </div>
                    {#                    <div class="col-xs-3"><a href="{% url 'category' 'water_ecological_restoration' %}" class="thumbnail"><img src="/static/images/yewu/yewu1.png" onmouseover="this.src='/static/images/yewu/yewu11.png'" onmouseout="this.src='/static/images/yewu/yewu1.png'"></a></div>#}
                    {#                    <div class="col-xs-3"><a href="{% url 'category' 'black_water_treatment' %}" class="thumbnail"><img src="/static/images/yewu/yewu2.png" onmouseover="this.src='/static/images/yewu/yewu21.png'" onmouseout="this.src='/static/images/yewu/yewu2.png'"></a></div>#}
                    {#                    <div class="col-xs-3"><a href="{% url 'category' 'habitat_restoration' %}" class="thumbnail"><img src="/static/images/yewu/yewu3.png" onmouseover="this.src='/static/images/yewu/yewu31.png'" onmouseout="this.src='/static/images/yewu/yewu3.png'"></a></div>#}
                    {#                    <div class="col-xs-3"><a href="{% url 'category' 'water_ecological_maintenance' %}" class="thumbnail"><img src="/static/images/yewu/yewu4.png" onmouseover="this.src='/static/images/yewu/yewu41.png'" onmouseout="this.src='/static/images/yewu/yewu4.png'"></a></div>#}
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!--经典案例-->
    <div class="row">
        <div class="col-xs-12">
            <div class="row yewu">
                <div class="col-xs-1" style="height: 100%">
                    <img src="/static/images/anli.png" style="height: 100%;">
                </div>
                <div class="col-xs-11" style="height: 100%">
                    {% for case in case4 %}
                        <div class="col-xs-3" style="height: 100%;">
                            <div class="img_text" style="background: url('{{case.cover_img.url}}');"><a href="#">{{case.title}}</a></div>
                        </div>
                    {% empty %}
                        <div class="col-xs-3" style="height: 100%;">
                            <div class="img_text" style="background: url('/static/images/s/s1.jpg');"><a href="#">案例一标题</a></div>
                        </div>
                        <div class="col-xs-3" style="height: 100%;">
                            <div class="img_text" style="background: url('/static/images/s/s2.jpg');"><a href="#">案例二标题</a></div>
                        </div>
                        <div class="col-xs-3" style="height: 100%;">
                            <div class="img_text" style="background: url('/static/images/s/s3.jpg');"><a href="#">案例三标题</a></div>
                        </div>
                        <div class="col-xs-3" style="height: 100%;">
                            <div class="img_text" style="background: url('/static/images/s/s4.jpg');"><a href="#">案例四标题</a></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <hr>
    {#    <div class="text-center" style="background-color: #337ab7;line-height: 36px;color: white;font-weight: bold;font-size: 26px;">{{ company.slogan }}</div>#}
    <div class="text-center">
        <p>{{company.slogan}}</p>
        <p>公司地址：{{company.address}}</p>
        <p>
            {{company.name}} &copy; 2020
            <a href="http://idinfo.zjamr.zj.gov.cn/bscx.do?method=lzxx&amp;id=3301963301080000025024" target="_blank">
                <img src="//gw.alicdn.com/tfs/TB1GxwdSXXXXXa.aXXXXXXXXXXX-65-70.gif" style="height: 20px;">
            </a>
            <a href="http://www.beian.gov.cn/portal/registerSystemInfo" target="_blank">
                <img src="//img.alicdn.com/tfs/TB1..50QpXXXXX7XpXXXXXXXXXX-40-40.png" style="height: 20px;">
                <span>{{company.icp}}</span>
            </a>
        </p>
    </div>
    <br>
{% endblock %}
