{% extends 'app1/base.html' %}

{% block title_block %}
    {% if company.name %}{{ company.name }}{% else %}公司首页{% endif %}
{% endblock %}

{% block css_block %}{% endblock %}

{% block big_img %}
    <div id="myCarousel" class="carousel slide"  data-ride="carousel" data-interval="2000">
        <!-- 默认轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            {% for carousel in carousels %}
                <li data-target="#myCarousel" data-slide-to="{{ carousel.number }}" {% if forloop.first %}class="active"{% endif %}></li>
            {% empty %}
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarouse1" data-slide-to="1"></li>
            {% endfor %}
        </ol>

        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            {% for carousel in carousels %}
                <div {% if forloop.first %} class="item active"{% else %} class="item"{% endif %}>
                    <img src="{{carousel.img.url}}" style="width:100%;"/>
                    <div class="carousel-caption"><h2>{{carousel.title}}</h2></div>
                </div>
            {% empty %}
                <div class="item active">
                    <img src="/static/images/s/s1.jpg" style="width:100%;"/>
                    <div class="carousel-caption"><h2>轮播图标题说明</h2></div>
                </div>
                <div class="item">
                    <img src="/static/images/s/s2.jpg" style="width:100%;"/>
                    <div class="carousel-caption"><h2>轮播图标题说明</h2></div>
                </div>
            {% endfor %}
        </div>

        <!-- 轮播（Carousel）导航 -->
        <a class="carousel-control left" href="#myCarousel"
           data-slide="prev"> <span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="carousel-control right" href="#myCarousel"
           data-slide="next"> <span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
{% endblock %}

{% block body_block %}
    <div class="text-center">
        <h2><a style="color: green;" href="{% url 'category' 'submerged_plant' %}">水生植物</a></h2><br>
        <p style="color: #888;">我们的主要产品是经过挑选的优质水生植物，xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
    </div>
    <hr>

    <div class="slider">
        <div class="arrival-grids wthree-grids">
            <ul id="flexiselDemo1">
                {% for plant_article in plant_articles %}
                    <li style="margin-right: 10px;height: 180px;width: 150px;">
                        <a href="{% url 'article' plant_article.id %}" style="width: 100%;height: 100%;">
                            <img src="{{plant_article.cover_img.url}}" style="width: 100%;height: 85%;"/>
                            <p style="color: green;">{{plant_article.title}}</p>
                        </a>
                    </li>
                {% empty %}
                    <li style="margin-right: 10px;height: 180px;width: 150px;"><a href="#" style="width: 100%;height: 100%;"><img src="/static/images/yewu/yewu1.png" style="width: 100%;height: 85%;"/><p style="color: green;">水草1</p></a></li>
                    <li style="margin-right: 10px;height: 180px;width: 150px;"><a href="#" style="width: 100%;height: 100%;"><img src="/static/images/yewu/yewu2.png" style="width: 100%;height: 85%;"/><p style="color: green;">水草2</p></a></li>
                    <li style="margin-right: 10px;height: 180px;width: 150px;"><a href="#" style="width: 100%;height: 100%;"><img src="/static/images/yewu/yewu3.png" style="width: 100%;height: 85%;"/><p style="color: green;">水草3</p></a></li>
                    <li style="margin-right: 10px;height: 180px;width: 150px;"><a href="#" style="width: 100%;height: 100%;"><img src="/static/images/yewu/yewu4.png" style="width: 100%;height: 85%;"/><p style="color: green;">水草4</p></a></li>
                {% endfor %}
            </ul>
            <script type="text/javascript">
                $(window).load(function() {
                    $("#flexiselDemo1").flexisel({
                        visibleItems: 4,
                        animationSpeed: 1000,
                        autoPlay: true,
                        autoPlaySpeed: 3000,
                        pauseOnHover:true,
                        enableResponsiveBreakpoints: true,
                        responsiveBreakpoints: {
                            portrait: {
                                changePoint:480,
                                visibleItems: 1
                            },
                            landscape: {
                                changePoint:640,
                                visibleItems: 2
                            },
                            tablet: {
                                changePoint:768,
                                visibleItems: 3
                            }
                        }
                    });
                });
            </script>
            <script src="/static/js/jquery.flexisel.js"></script>
        </div>
    </div><hr>
    <br>



    <!--业务导航-->
    <div class="row">
        <div class="col-xs-12">
            <div class="row yewu">
                <div class="col-xs-1" style="height: 100%">
                    <img src="/static/images/yewu/yewu.png" style="height: 100%;">
                </div>
                <div class="col-xs-11" style="height: 100%; margin-right: 0; padding-right: 0;">
                    {% for yewu in yewu4s %}
                        <div class="col-xs-3" style="height: 100%;">
                            <div class="img_text" style="background: url({% if yewu.articles.all %}'{{ yewu.articles.all.0.cover_img.url }}'{% else %}'/static/images/yewu/yewu1.png'{% endif %});">
                                <a href="{% url 'category' yewu.menu_name %}">{{yewu.name}}</a>
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-xs-3" style="height: 100%;">
                            <div class="img_text" style="background: url('/static/images/yewu/yewu1.png');">
                                <a>水生态修复与运维</a>
                            </div>
                        </div>
                        <div class="col-xs-3" style="height: 100%;">
                            <div class="img_text" style="background: url('/static/images/yewu/yewu2.png');">
                                <a>景观与栖息地修复</a>
                            </div>
                        </div>
                        <div class="col-xs-3" style="height: 100%;">
                            <div class="img_text" style="background: url('/static/images/yewu/yewu3.png');">
                                <a>土壤污染调查与治理</a>
                            </div>
                        </div>
                        <div class="col-xs-3" style="height: 100%;">
                            <div class="img_text" style="background: url('/static/images/yewu/yewu4.png');">
                                <a>智慧环境业务</a>
                            </div>
                        </div>
                    {% endfor %}</div>
            </div>
        </div>
    </div>
    <hr>
    <!--经典案例-->
    <div class="row">
        <div class="col-xs-12">
            <div class="row yewu">
                <div class="col-xs-1" style="height: 100%">
                    <img src="/static/images/anli.png" style="height: 100%;">
                </div>
                <div class="col-xs-11" style="height: 100%;margin-right: 0; padding-right: 0;">
                    {% for case in case4 %}
                        <div class="col-xs-3" style="height: 100%;">
                            <div class="img_text" style="background: url('{{case.cover_img.url}}');"><a href="#">{{case.title}}</a></div>
                        </div>
                    {% empty %}
                        <div class="col-xs-3" style="height: 100%;">
                            <div class="img_text" style="background: url('/static/images/s/s1.jpg');"><a href="#">案例一标题</a></div>
                        </div>
                        <div class="col-xs-3" style="height: 100%;">
                            <div class="img_text" style="background: url('/static/images/s/s2.jpg');"><a href="#">案例二标题</a></div>
                        </div>
                        <div class="col-xs-3" style="height: 100%;">
                            <div class="img_text" style="background: url('/static/images/s/s3.jpg');"><a href="#">案例三标题</a></div>
                        </div>
                        <div class="col-xs-3" style="height: 100%;">
                            <div class="img_text" style="background: url('/static/images/s/s4.jpg');"><a href="#">案例四标题</a></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}
