{% extends 'app_manage/manage.html' %}

{% block manage_css %}{% endblock %}



{% block manage_body %}
    <button class="btn" style="float:right;" onclick="add_text()">添加</button><br>
    <div style="margin-bottom: 20px;"></div>

    <div id="form_list">
        {% for text in abstract_texts %}
            <div class="form-horizontal" style="border-bottom: 1px solid #efefef;padding-bottom: 50px;">
                <form id="{{ text.id }}">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="title">大标题<span style="color: red;">*</span></label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="title" name="title" value="{{ text.title }}" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="title2">副标题</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="title2" name="title2" value="{{ text.title2 }}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="content">摘要内容<span style="color: red;">*</span></label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="content" name="content" style="height: 150px;">{{ text.content }}</textarea>
                            </div>
                        </div>
                    </div>
                </form>

                <button class="btn btn-primary" style="float:right;" onclick="save_text(this)">保存</button>
                <button class="btn btn-danger" style="float:right;margin-right: 10px;" onclick="delete_text(this)">删除</button>
            </div>
        {% empty %}
            <p class="text-center">还没有摘要</p>
        {% endfor %}
    </div>
{% endblock %}


{% block manage_js %}
    <script>
        let this_url = '{% url 'manage_abstract_text' %}';

        /**
         * 自动将form表单封装成json对象
         */
        $.fn.serializeObject = function() {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name]) {
                    if (!o[this.name].push) {
                        o[this.name] = [ o[this.name] ];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        function add_text() {
            console.log('添加摘要');
            $('#form_list').prepend('<div class="form-horizontal" style="border-bottom: 1px solid #efefef;padding-bottom: 50px;">\n' +
                '    <form>\n' +
                '        <div class="form-group">\n' +
                '            <div class="form-group">\n' +
                '                <label class="col-sm-2 control-label" for="title">大标题<span style="color: red;">*</span></label>\n' +
                '                <div class="col-sm-10">\n' +
                '                    <input class="form-control" type="text" id="title" name="title" value="" required/>\n' +
                '                </div>\n' +
                '            </div>\n' +
                '            <div class="form-group">\n' +
                '                <label class="col-sm-2 control-label" for="title2">副标题</label>\n' +
                '                <div class="col-sm-10">\n' +
                '                    <input class="form-control" type="text" id="title2" name="title2" value=""/>\n' +
                '                </div>\n' +
                '            </div>\n' +
                '            <div class="form-group">\n' +
                '                <label class="col-sm-2 control-label" for="content">摘要内容<span style="color: red;">*</span></label>\n' +
                '                <div class="col-sm-10">\n' +
                '                    <textarea class="form-control" id="content" name="content" style="height: 150px;"></textarea>\n' +
                '                </div>\n' +
                '            </div>\n' +
                '        </div>\n' +
                '    </form>\n' +
                '    <button class="btn btn-primary" style="float:right;" onclick="save_text(this)">保存</button>\n' +
                '    <button class="btn btn-danger" style="float:right;margin-right: 10px;" onclick="delete_text(this)">删除</button>\n' +
                '</div>');
        }
        function save_text(btn) {
            let id = $($(btn).parent().children()[0]).attr('id');
            let data = $($(btn).parent().children()[0]).serializeObject();

            if(id){
                data['id'] = id;
                data = JSON.stringify(data);
                console.log('保存旧text：', data);
                common_ajax(this_url, 'put', data);
            }else{
                data = JSON.stringify(data);
                console.log('保存新text：', data);
                common_ajax(this_url, 'post', data);
            }
        }
        function delete_text(btn) {
            let id = $($(btn).parent().children()[0]).attr('id');
            console.log('将删除text的id为：', id);
            let del = confirm('确定要删除吗？');
            if(del){
                if(id){
                    common_ajax(this_url, 'delete', JSON.stringify({'id': id}));
                }
                $($(btn).parent()).remove();
            }
        }


        function common_ajax(url, submit_type, data){
            $.ajax({
                type:submit_type,
                url:url,
                data:data,
                dataType:'JSON',
                headers:{'X-CSRFToken':'{{ csrf_token }}'},
                error:function(request){
                    console.log("出错?", request);
                    alert('操作失败，请重试一下哈');
                },
                success:function(data){
                    if(!data.message){
                        alert('成功！');
                    }else{
                        alert(data.message);
                    }
                }
            });
        }
    </script>
{% endblock %}
