<div class="list_item">
    <div class="row">
        <div class="col-xs-4">
            <img src="{{ article.cover_img.url }}" style="width: 100%;"/>
        </div>

        <div {% if request.session.username %}class="col-xs-6"{% else %}class="col-xs-8"{% endif %}>
            <h4 style="margin-bottom: 10px;">{{ article.title }}</h4>
            <p>{{ article.get_pure_content|slice:":100"}}……</p>
            <p style="float: right;margin-top: 10px;">{{ article.modified_time }}</p>
        </div>
        {% if request.session.username %}
            <div class="col-xs-2">
                <button class="btn btn-danger" style="float: right;" onclick="del_article({{ article.id }})">删除该文章</button>
            </div>
        {% endif %}
    </div>
</div>
<script>
    function del_article(article_id) {
        let del = confirm('确定要删除吗？');
        if(del) {
            common_reload_ajax("{% url 'manage_article' 'article_id' %}".replace('article_id', article_id), "delete", "");
        }
    }
</script>