{% extends 'app_manage/manage.html' %}

{% block manage_css %}{% endblock %}



{% block manage_body %}
    <form action="{% url 'carousel' %}" method="post" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label class="col-sm-2 control-label" for="title">标题<span style="color: red;">*</span></label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="title" name="title" value="{{ carousel.title }}" required/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="id_img">轮播图<span style="color: red;">*</span></label>
            <div class="col-sm-10">
                {% if carousel.img %}
                    <div class="col-sm-2 control-label">
                        <img src="{{ carousel.img.url }}" style="height: 100px; width: 280px;" alt="未选择图片"/>
                    </div>
                {% endif %}
                <div class="col-sm-10">
                    {{ carousel_image_form.img }}
                </div>
            </div>
        </div>
        <button class="btn btn-primary" style="float:right;" type="submit">保存</button>
    </form>
{% endblock %}



{% block manage_js %}{% endblock %}

