{% extends 'app_manage/manage.html' %}

{% block manage_css %}{% endblock %}



{% block manage_body %}
    <button class="btn btn-primary" style="float:right;" onclick="add_menu1()">添加一级菜单</button><br>
    <div style="margin-bottom: 20px;"></div>

    <div id="form_list">
        {% for menu1 in menu1s %}
            <div style="border-bottom: 1px solid #efefef;padding-bottom: 50px;">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="name_{{ menu1.id }}">一级菜单名称<span style="color: red;">*</span></label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="name_{{ menu1.id }}" name="name" value="{{ menu1.name }}" data-id="{{ menu1.id }}" required onkeydown="if(event.keyCode===13)return false;"/>
                        </div>
                    </div>
                    {% if menu1.has_children %}
                        {% for menu2 in menu1.has_children %}
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-offset-1 control-label" for="name_{{ menu2.id }}">二级分类名称<span style="color: red;">*</span></label>
                                <div class="col-sm-9">
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" id="name_{{ menu2.id }}" name="name" value="{{ menu2.name }}" data-id="{{ menu2.id }}" required/>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn glyphicon glyphicon-trash" onclick="del_menu2(this)"></button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </form>
                <button class="btn btn-primary" style="float:right;" onclick="save(this)">保存</button>
                <button class="btn btn-danger" style="float:right;margin-right: 10px;" onclick="del_menu1(this)">删除一级菜单</button>
                <button class="btn btn-primary" style="float:right;margin-right: 10px;" onclick="add_menu2(this)">添加二级分类</button>
            </div>
        {% empty %}
            <p id="tip1">还没有一级菜单，请点击添加按钮进行添加</p>
        {% endfor %}
    </div>

    {% if menu1s %}
        <div class="row">
            <form>
                <div class="form-group">
                    <label class="col-sm-2 control-label">首页模块一</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="category_id">
                            {% for menu in menu1s %}
                                {% if forloop.first %}
                                    <option value={{ menu.id }} selected>{{ menu.name }}</option>
                                {% else %}
                                    <option value={{ menu.id }}>{{ menu.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <button class="btn btn-primary" style="float:right;" type="submit">保存</button>
            </form>

            <form>
                <div class="form-group">
                    <label class="col-sm-2 control-label">首页模块二</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="category_id">
                            {% for menu in menu1s %}
                                {% if forloop.first %}
                                    <option value={{ menu.id }} selected>{{ menu.name }}</option>
                                {% else %}
                                    <option value={{ menu.id }}>{{ menu.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <button class="btn btn-primary" style="float:right;" type="submit">保存</button>
            </form>
        </div>
    {% endif %}
{% endblock %}



{% block manage_js %}
    <script>
        let this_url = "{% url 'manage_category' %}";
        /**
         * 自动将form表单封装成json对象
         */
        $.fn.serializeObject = function() {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name]) {
                    if (!o[this.name].push) {
                        o[this.name] = [ o[this.name] ];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        function add_menu1() {
            $('#form_list').append('<div style="border-bottom: 1px solid #efefef;padding-bottom: 50px;">\n' +
                '    <form class="form-horizontal">\n' +
                '        <div class="form-group">\n' +
                '            <label class="col-sm-2 control-label">一级菜单名称<span style="color: red;">*</span></label>\n' +
                '            <div class="col-sm-10">\n' +
                '                <input class="form-control" type="text" name="name" value="" data-id="" required onkeydown="if(event.keyCode===13)return false;"/>\n' +
                '            </div>\n' +
                '        </div>\n' +
                '    </form>\n' +
                '    <button class="btn btn-primary" style="float:right;" onclick="save(this)">保存</button>\n' +
                '    <button class="btn btn-danger" style="float:right;margin-right: 10px;" onclick="del_menu1(this)">删除一级菜单</button>\n' +
                '</div>');
            $('#tip1').remove()
        }

        function add_menu2(btn) {
            $($(btn).parent().children()[0]).append('<div class="form-group">\n' +
                '    <label class="col-sm-2 col-sm-offset-1 control-label">二级分类名称<span style="color: red;">*</span></label>\n' +
                '    <div class="col-sm-9">\n' +
                '        <div class="col-sm-10">\n' +
                '            <input class="form-control" type="text" name="name" value="" data-id="" required/>\n' +
                '        </div>\n' +
                '        <div class="col-sm-2">\n' +
                '            <button class="btn glyphicon glyphicon-trash" onclick="del_menu2(this)"></button>\n' +
                '        </div>\n' +
                '    </div>\n' +
                '</div>')
        }

        function del_menu1(btn) {
            let id = $($($(btn).parent().children()[0]).children()[0].getElementsByTagName('input')).attr('data-id');
            let del = confirm('确定要删除吗？');
            if(del) {
                if(id){
                    console.log('将要删除的一级菜单id为：', id);
                    common_ajax(this_url, 'delete', JSON.stringify({'id': id}));
                }
                $(btn).parent().remove()
            }
        }

        function del_menu2(btn) {
            let id = $($(btn).parent().parent().children()[0].getElementsByTagName('input')).attr('data-id');
            console.log(id);
            let del = confirm('确定要删除吗？');
            if(del) {
                if(id){
                    console.log('将要删除的二级分类id为：', id);
                    common_ajax(this_url, 'delete', JSON.stringify({'id': id}));
                }
                $(btn).parent().parent().parent().remove()
            }
        }

        function save(btn) {
            let form = $(btn).parent().children()[0];
            let menu1_input = $($(form).children()[0].getElementsByTagName('input'));
            let menu1_id = menu1_input.attr('data-id');

            let put_data = [];
            let post_data = [];

            let menu1_data = menu1_input.serializeObject();
            if(menu1_id){
                //如果一级菜单有id，则说明一级菜单是修改，但不能说明该菜单的子分类是修改，所以需要进一步判断；
                //如果一级菜单没有id，则说明是新建，连子分类都是新建
                menu1_data['id'] = menu1_id;
                put_data.push(menu1_data);
                //修改的一级菜单是有子分类的，需要进一步判断
                let menu_list = form.getElementsByTagName('input'); //第一个是menu1，如果后面还有多个则是menu2
                console.log(typeof menu_list, menu_list);

                let menu2_list = [];
                for(let i=1; i<menu_list.length; i++){
                    menu2_list.push(menu_list[i])
                }

                if(menu2_list.length>0){
                    console.log('该一级菜单有子分类：', menu2_list);

                    for(let i=0; i<menu2_list.length; i++){
                        let menu2 = $(menu2_list[i]);
                        let menu2_id = menu2.attr('data-id');

                        let menu2_data = menu2.serializeObject();
                        menu2_data['parent_id'] = menu1_id;
                        if(menu2_id){
                            menu2_data['id'] = menu2_id;
                            put_data.push(menu2_data);
                        }else{
                            post_data.push(menu2_data);
                        }
                    }
                    if(put_data.length > 0){
                        console.log('子菜单有修改信息：', put_data);
                        common_ajax(this_url, 'put', JSON.stringify(put_data));
                    }
                    if(post_data.length > 0){
                        console.log('子菜单有新增信息：', post_data);
                        common_ajax(this_url, 'post', JSON.stringify(post_data));
                    }
                }else{
                    console.log('该一级菜单没有子分类，可以直接提交了');
                    common_ajax(this_url, "put", JSON.stringify(put_data));
                }
            }else{
                post_data.push(menu1_data);
                //新建的一级菜单是没有子分类的，可以直接提交
                common_ajax(this_url, "post", JSON.stringify(post_data));
            }
        }
    </script>
{% endblock %}

