<div class="list_item">
    <div class="row">
        <div class="col-sm-3">
            <img src="{{ article.cover_img.url }}" style="width: 100%;"/>
        </div>

        <div {% if request.session.username %}class="col-sm-6"{% else %}class="col-sm-9"{% endif %}>
            <h4 style="margin-bottom: 10px;">{{ article.title }}</h4>
            <p>{{ article.get_pure_content|slice:":100"}}……</p>
            <p style="float: right;margin-top: 10px;">{{ article.modified_time }}</p>
        </div>
        {% if request.session.username %}
            <div class="col-sm-3">
                <button class="btn btn-danger" style="float: right;" onclick="del_article({{ article.id }})">删除</button>
                {% if not article.carousels.all.0 %}
                    <button class="btn btn-primary" style="float: right;margin-right: 10px;" onclick="set_carousel({{ article.id }})">设为轮播图</button>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
<script>
    function del_article(article_id) {
        let del = confirm('确定要删除吗？');
        if(del) {
            common_reload_ajax("{% url 'manage_article' 'article_id' %}".replace('article_id', article_id), "delete", "");
        }
    }

    function set_carousel(article_id) {
        common_reload_ajax('{% url "manage_carousel" %}', "post", JSON.stringify({'article_id': article_id}));
    }
</script>